@import "./variables.scss";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

p,
h6,
h5,
h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
