@import "./app.scss";

.parking-details {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

.header-logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.map__container {
    height: calc(100vh - 76px);
    width: 100%;
}

.user-marker {
    display: block;
    width: 20px;
    height: 20px;
    background: #1da1f2;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: rgba(29, 161, 242, 0.5);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: pulse 1.5s ease-out infinite;
    }
}

.btn-close.text-white {
    color: #fff !important;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

.parking__marker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    width: 48px;
    height: 30px;
    color: #fff;
    border-radius: 25px;
    font-weight: 800;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px; /* Положение треугольника под прямоугольником */
        left: 50%; /* Центровка треугольника */
        transform: translateX(-50%); /* Центровка треугольника по горизонтали */
        border-width: 10px 5px 0; /* Размеры треугольника */
        border-style: solid;
        border-color: $primary transparent transparent transparent; /* Цвет треугольника и прозрачные стороны */
    }

    &--green {
        background-color: #28a745;

        &::after {
            border-color: #28a745 transparent transparent transparent;
        }
    }

    &--orange {
        background-color: #fd7e14;

        &::after {
            border-color: #fd7e14 transparent transparent transparent;
        }
    }

    &--red {
        background-color: #dc3545;

        &::after {
            border-color: #dc3545 transparent transparent transparent;
        }
    }
}

.gm-ui-hover-effect {
    position: absolute !important;
    right: 0;
    top: 0;
}
