@import "..//..//app.scss";
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.success-section {
    .reservation-details {
        display: inline-block; 
        text-align: left; 
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .reservation-details h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }
    .reservation-details p {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .reservation-details p strong {
        font-weight: bold;
        margin-right: 10px;
    }
    .success-icon {
        font-size: 96px;
        height: 96px;
        width: 96px; 
        display: inline-block;
        color: inherit;
        fill: currentColor;
        line-height: 1;
        flex-shrink: 0;
        max-width: initial;
        color: hsl(170, 78%, 36%);
      }
    .success-container {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
}